.contenu{
    background: linear-gradient(to left, #40a497, #6804a4);
    /* gradient => dégradé- débute avec la 1ère couleur et fini avec la 2ème de haut en bas par défaut mais on a ajouté TO LEFT qui fait un dégradé de gauche à droite */
    width: 45em; /* Largeur */
    height: 45em; /* Hauteur */
    margin: 0 auto; /* pas de marge en haut et en bas (valeur 0) - auto pour les marges de droite et de gauche laissent le navigateur centrer l'élément */
    border-radius: 50%; /* La propriété BORDER-RADIUS permet d'arrondir les angles - EMMET border-radius => bdra + tab */
}