.zone-adaptative{
    background: red; /* EMMET => bg + tab */
    color: #fff;
    padding: 10px; /* EMMET => p10 = padding: 10px; */
}

@media (min-width: 768px){ /* min-width: 768px => à partir de'un écran large de 768px et au-dessus */
    .zone-adaptative{
        width: 750px;
        background: blue;
    }
}
/* les media queries définissent des points de rupture / de transition d'affichage (break points) */

@media (min-width: 992px){ /* 992px et plus */
    .zone-adaptative{
    width: 970px;
    background: olivedrab;
    }
} 

@media (min-width: 1200px) { /* 1200px et plus */
    .zone-adaptative{
    width: 1200px;
    background: blueviolet;
    }
}